<ul class="pagination">
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
        <a class="page-link" href="?page=1">&laquo; first</a>
    </li>

    {% if page_obj.has_previous %}
    <li class="page-item  "><a class="page-link" href="?page={{ page_obj.previous_page_number }}">
        {{ page_obj.previous_page_number }}</a></li>
    {% endif %}

    <li class="page-item active">
        <a class="page-link" href="#">{{ page_obj.number }}</a>
    </li>

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
        {{ page_obj.next_page_number }}</a></li>
    {% endif %}
    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    </li>
</ul>