{% extends "learnjapanese/base.html" %}

{% block title %}
<title>Learn japanese - categories</title>
{% endblock title %}

{% block content %}
You are on categories page!

{% if category_list %}
<ul class="list-group" style="width:500px">
    {% for category in category_list %}
    <li class="list-group-item bg-light text-white"><a href="{% url 'learnjapanese:single_category' category.id %}">
        {{ category.category_name }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No categories are available.</p>
{% endif %}
{% endblock content %}