{% extends "base.html" %}

{% block title %}
<title>Category - {{category.category_name}}</title>
{% endblock title %}

{% block content %}
<h2>Category: {{category.category_name}}</h2><br>

{% if flashcards_by_category %}
    {% for flashcard in page_obj %}
        {% if forloop.first %}<div class="row">{% endif %}
            <div class="card col-3 bg-primary text-white text-center m-4 p-4">
                English: {{flashcard.english_text}}<br><br>
                Japanese: {{flashcard.japanese_text}}
                {% if flashcard.japanese_text_kanji %}
                <br>Japanese(kanji): {{flashcard.japanese_text_kanji}}
                {% endif %}
            </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}

    {% include "learnjapanese/util/pagination.html" %}
{% else %}
<div class="alert alert-info">There are no flashcards for this category</div>
{% endif %}
{% endblock content %}