{% extends "base.html" %}

{% block title %}
<title>Learn japanese - categories</title>
{% endblock title %}

{% block content %}
<h2>Categories list</h2>

{% if category_list %}
<ul class="list-group" style="width:500px">
    {% for category in category_list %}
    <li class="list-group-item bg-light text-white text-decoration-none">
        <a href="{% url 'learnjapanese:category_single' category.id %}">
        {{ category.category_name }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No categories are available.</p>
{% endif %}
{% endblock content %}