{% extends "learnjapanese/base.html" %}
<html lang="en">
<head>
   <title>Category {{category.name}}</title>
</head>
<body>
{% block content %}
You are on single category subpage!<br>
This is category {{category.category_name}}<br>

{% if flashcards_by_category %}
    <ul>
    {% for flashcard in flashcards_by_category %}
        English: {{flashcard.english_text}}<br>
        Japanese: {{flashcard.japanese_text}}<br>
        ------------------------------------------------<br>
    {% endfor %}
    </ul>
{% else %}
There are no flashcards for this category
{% endif %}

{% endblock content %}
</body>
</html>