{% extends "base.html" %}

{% block title %}
<title>Lesson</title>
{% endblock title %}

{% block content %}
<h1>You are viewing lesson {{lesson.lesson_name}}<h1>
<h3>
    FlashCards included in the lesson:
</h3>
{% for flashcard in flashcards %}
    {% if forloop.first %}<div class="row">{% endif %}
        <div class="card col-3 bg-primary text-white text-center m-4 p-4">
            English: {{flashcard.english_text}}<br><br>
            Japanese: {{flashcard.japanese_text}}
            {% if flashcard.japanese_text_kanji %}
                <br>Japanese(kanji): {{flashcard.japanese_text_kanji}}
            {% endif %}
        </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
{% endblock content %}